@use '../util' as u;

@import url(https://fonts.googleapis.com/css?family=Readex+Pro:regular);
@import url(https://fonts.googleapis.com/css?family=Inter:regular);


html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*::before,
*::after {
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: u.$font;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.2;
}

img,
svg {
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

aside,
nav,
footer,
header,
section,
main {
    display: block;
}

.container {
    max-width: 1324px;
    padding-inline: 15px;
    margin-inline: auto;
}

.container-wide {
    max-width: 1470px;
    padding-inline: 15px;
    margin-inline: auto;
}

.btn,
a.btn {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding-left: 53px;
    padding-right: 53px;
    color: #000000;
    font-size: 18px;
    border: 1px solid #000000;
    border-radius: 200px;
    transition: opacity 0.2s ease;
}

.btn:hover,
a.btn:hover {
    opacity: 0.5;
}

.btn-big,
a.btn-big {
    min-height: 65px;
    line-height: 65px;
}